@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, .btn {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: lightgray;
}

h1 {
  font-size: large;
}
